<!doctype html>
<html>
    <head>
        <meta charset="utf-8" >
        <title>Balle Phenix</title>
        <link rel="shortcut icon" href="/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <script>
            window.salt = "<%= salt %>";
            window.availableYears = <%= availableYears %>;
        </script>
        <script src="<%= playerListLocation %>"></script>
        <%if(production){ %>
            <script src="main-built.js"></script>
        <% }else{ %>
            <script data-main="script/main" src="node_modules/requirejs/require.js"></script>
        <% } %>
    </body>
</html>
